.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px
}
.header{
  background-color: rgb(233, 226, 226);;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
}


.container {
  align-items: center;
  margin: 5% 33% 0 33%;
  padding: 10px;
  border:   solid grey; 
  border-width: 0.5px;
  background-color: rgb(233, 226, 226);
  box-shadow: -4px -2px 20px -9px rgba(43,38,42,0.84);
-webkit-box-shadow: -4px -2px 20px -9px rgba(43,38,42,0.84);
-moz-box-shadow: -4px -2px 20px -9px rgba(43,38,42,0.84);
}

.inpContainer {
        align-items: center;
}

.form {
    border-style: none;
    border-width: 1px;
    padding-left: 5px;
    padding-bottom: 20px;
}

input {
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px gray;
    width: 80%;
}

h2 {
    text-align: center;
}

input:hover {
    box-shadow: none;
    background-color: (233, 226, 226);
    border: none;
    border: 1px solid;
}
input :active{
  border: noneß;
}
.heading{
  text-align: center;
}

